.content {
    width: 90%;
    max-width: 900px; 
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8); 
    padding: 80px;
    text-align: center;
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  }
  .input-container {
    margin-top: 20px;
  }