.content {
    width: 90%;
    max-width: 900px; 
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8); 
    padding: 80px;
    text-align: center;
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  }
  .input-container {
    margin-top: 20px;
  }
  input-container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #333;
    
    font-size: 18px;
    box-sizing: border-box;
  }
  .button {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }