.Newsletter {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
  top: 0px;
  left: 0px;
}

.MainHeading {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  top: auto;
  margin-bottom: 5vh;
  margin-top: 50px;
}

.GoodMorning {
  font-size: 2rem;
  font-weight: 400;
  color: black;
  margin-bottom: 5vh;
  margin-top: 130px;
  top: auto;
}

.Article {
  width: 718.01px; 
  left: 108px; 
  top: 250px; 
  position: absolute; 
  border-radius: 5.98px; 
  overflow: hidden; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;

}

.AspectRatio11PortraitNo50HeightNo {
width: 359px;
flex-direction: column; 
justify-content: flex-start; 
align-items: flex-start; 
display: inline-flex;
}
.Article:hover {
transform: scale(1.2);

}
.Article {
transition: transform .2s;
width: 400px;
height: 400px;	
}


.ElementFullyLightModeOn {
margin-top: 0px; 
position: absolute; 
padding: 17px; 
background: white; 
flex-direction: column; 
justify-content: flex-start; 
align-items: flex-start; 
gap: 17.95px; 
display: inline-flex;
}

.ElementContentTop {
flex-direction: column; 
justify-content: flex-start; 
align-items: flex-start; 
gap: 11.97px; 
display: flex;
}

.ElementDate {
padding-bottom: 9.93px; 
padding-right: 21.82px; 
justify-content: flex-start; 
align-items: center; 
display: inline-flex;
}

.Date {
color: #BFBFBF; 
font-size: 12px; 
font-family: Roboto; 
font-weight: 400; 
word-wrap: break-word;
}

.ElementTitle {
justify-content: flex-start;  
gap: 14.96px; 
display: inline-flex;
}

.Title {
flex: 1 1 0; 
text-align: center; 
color: black; 
font-size: 16px; 
font-family: Roboto; 
font-weight: 500; 
word-wrap: break-word;
}

.ElementContentCenter {
align-self: stretch; 
flex: 1 1 0; 
justify-content: flex-start; 
align-items: flex-start; 
gap: 5.98px; 
display: inline-flex;
}

.ElementP {
flex: 1 1 0; 
align-self: stretch; 
justify-content: flex-start; 
align-items: flex-start; 
gap: 14.96px; 
display: flex;
}

.P {
flex: 1 1 0; 
text-align: center; 
color: #666666; 
font-size: 12px; 
font-family: Roboto; 
font-weight: 400; 
word-wrap: break-word
}

.ElementUserInfo {
justify-content: flex-start; 
align-items: center; 
gap: 5.98px; 
display: flex; 
right:20px; 
top:35vh;
position: absolute;
}

.Avatar {
border-radius: 11.97px
}

.UserName {
color: #110202; 
font-size: 12px; 
font-family: Roboto; 
font-weight: 400; 
word-wrap: break-word
}
