@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}


/* Style the side navigation bar */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

/* The navigation links */
.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.link-Wrapper {
  margin-top: 100px;
  align-items: center;
  align-content: center;
}

.link-Wrapper a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  align-content: center;
}

.link-Wrapper a:hover {
  background-color: #555;
}

/* Style the main content */
#main {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 99; /* Ensure it's above other elements */
}


/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Styles for the navbar */
.navbar {
  height: 100%;
  display: none; /* Initially hide the navbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: black;
  z-index: 999; /* Ensure it's on top of other elements */
  padding-top: 240px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  align-content: center;

  
}

.navbar.active {
  display: flex; /* Show the navbar when active */
  flex-direction: column;
  color: white;
  justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
   
}

.navbar a {
  padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #f2f2f2;
            display: block;
            transition: 0.3s;
            line-break: 3px;
            align-items: center;
            letter-spacing: 1vw;
font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
}
.navbar a:hover {
  color: #818181;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 130px;
  font-size: 36px;
  color: white;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.Home {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
}
.MainHeading {
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1vw;
    width: 100%;
    position: absolute;
    top: 20%;
}

.GoodMorning {
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 0.5vw;
    width: 100%;
    position: absolute;
    top: 35%;
}
.MotivationalParagraph {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 2px;
   
    text-align: center;
    width:90%;
    position: absolute;
    top: 45%;
    left: 50px;
}

/* Styles for the navigation bar */


.nav-links {
    margin: 10px;
    font-size: 20px;
}
.Profile {
  width: 75px; height: 75px; left: 0px; margin-top:  20px;margin-bottom: 20px; position: absolute; justify-content: center; align-items: center; display: inline-flex;
}
.Ellipse1 {
  width: 75px; height: 75px; border-radius: 9999px;
}
.LogoutButton {
  position: absolute;
  bottom:50px;
  left: 180px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LogoutButton:hover {
  background-color: #555;
}