@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", "sans-sarif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #ffffff;
  --sidebar-color: #fff;
  --primary-color: #fffdfd;
  --primary-color-light: #ffffff;
  --toggle-color: #ddd;
  --text-color: #000000;
  --dark-color: #000;

  --trans-02: all 0.3s ease-in-out;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-04: all 0.5s ease;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--trans-02);
  overflow: hidden;
  background-image: url(image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

body.dark {
  --body-color: #131313;
  --sidebar-color: #131313;
  --primary-color: #1e1e1e;
  --primary-color-light: #131313;
  --toggle-color: #fff;
  --text-color: #ffffff;
  --dark-color: #fff;
}
/* Reusable CSS */

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  /* transition: var(--trans-04); */
  white-space: unset;
  opacity: 1;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: var(--sidebar-color);
  padding: 10px 14px;
  transition: var(--trans-02);
}

.sidebar header {
  position: relative;
}
.sidebar .image-text img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.header .image-text .header-text {
  display: flex;
}

.header-text .main {
  font-weight: 600;
}

.header-text .sub {
  margin-top: -2px;
}
