.macbook-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .component-wrapper {
  background-color: #ffffff;
  width: 1728px;
  height: 1117px;
}

.macbook-pro .component {
  height: 1117px;
  background-color: #000000;
}

.macbook-pro .overlap-group {
  position: relative;
  width: 1728px;
  height: 1117px;
}

.macbook-pro .logout-button {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 963px;
  left: 1575px;
}

.macbook-pro .profile {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 56px;
  left: 1575px;
  background-color: #000000;
  border-radius: 50px;
}

.macbook-pro .div {
  position: absolute;
  width: 454px;
  height: 517px;
  top: 300px;
  left: 98px;
}

.macbook-pro .HOME-default {
  width: 158px;
  height: 60px;
  left: 149px;
  position: absolute;
  top: 0;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: justify;
  letter-spacing: 6.96px;
  line-height: 60px;
  white-space: nowrap;
}

.macbook-pro .EXPLORE {
  position: absolute;
  width: 247px;
  height: 61px;
  top: 152px;
  left: 104px;
}

.macbook-pro .NEWSLETTER-default {
  position: absolute;
  width: 347px;
  height: 60px;
  top: 305px;
  left: 54px;
}

.macbook-pro .text-wrapper-2 {
  position: absolute;
  width: 765px;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: justify;
  letter-spacing: 6.96px;
  line-height: 60px;
}

.macbook-pro .QUESTIONNAIRE {
  position: absolute;
  width: 454px;
  height: 60px;
  top: 457px;
  left: 0;
}

.macbook-pro .text-wrapper-3 {
  position: absolute;
  width: 1000px;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: justify;
  letter-spacing: 6.96px;
  line-height: 60px;
}

.macbook-pro .home {
  width: 1728px;
  height: 1117px;
  left: 0;
  background-color: var(--variable-collection-background);
  position: absolute;
  top: 0;
}

.macbook-pro .main-heading {
  position: absolute;
  width: 1273px;
  height: 70px;
  top: 145px;
  left: 227px;
}

.macbook-pro .main-heading-2 {
  position: absolute;
  height: 71px;
  top: -1px;
  left: -13px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 102px;
  text-align: center;
  letter-spacing: 16.32px;
  line-height: 60px;
  white-space: nowrap;
}

.macbook-pro .good-morning {
  position: absolute;
  width: 794px;
  height: 36px;
  top: 315px;
  left: 467px;
}

.macbook-pro .good-morning-2 {
  position: absolute;
  height: 36px;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 52px;
  text-align: center;
  letter-spacing: 7.8px;
  line-height: 60px;
  white-space: nowrap;
}

.macbook-pro .chat-button {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 958px;
  left: 1562px;
}

.macbook-pro .motivational {
  position: absolute;
  width: 924px;
  height: 483px;
  top: 451px;
  left: 402px;
}

.macbook-pro .motiviational {
  position: absolute;
  width: 924px;
  height: 483px;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30.5px;
  text-align: justify;
  line-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.macbook-pro .span {
  letter-spacing: 0.64px;
}

.macbook-pro .text-wrapper-4 {
  letter-spacing: 0.67px;
}

.macbook-pro .text-wrapper-5 {
  letter-spacing: 0.76px;
}

.macbook-pro .navigation-icon {
  position: absolute;
  width: 60px;
  height: 49px;
  top: 48px;
  left: 43px;
}

.macbook-pro .rectangle {
  width: 60px;
  top: 0;
  left: 0;
  position: absolute;
  height: 5px;
  background-color: #000000;
  border-radius: 15px;
}

.macbook-pro .rectangle-2 {
  width: 30px;
  top: 22px;
  left: 15px;
  position: absolute;
  height: 5px;
  background-color: #000000;
  border-radius: 15px;
}

.macbook-pro .rectangle-3 {
  width: 60px;
  top: 44px;
  left: 0;
  position: absolute;
  height: 5px;
  background-color: #000000;
  border-radius: 15px;
}
