<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
  </head>
  <body>
    <a href="{{ url_for('career_finder') }}">career_finder</a>
    <h1>SDGP PROJECT</h1>
    <h2>Feedback Form</h2>
    <form action="/submit-feedback" method="post">
        <p>Did you find the service helpful?</p>
        <input type="radio" id="yes" name="feedback" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="feedback" value="no">
        <label for="no">No</label><br><br>
        <input type="submit" value="Submit">
    </form>
    
        
  </body>
</html>
