.rating {
    display: flex;
    justify-content: center; /* Align stars to the center horizontally */
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
    margin-right: 5px; /* Add spacing between stars */
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #ffcc00;
}
